<ion-content>
  <div class="center-container">
    <ion-card class="custom-card">
      <ion-card-content>
        <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="mail" slot="start" ></ion-icon> Email
            </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              <ion-icon name="lock-closed" slot="start"></ion-icon> Password
            </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-button type="submit">Registrarse</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
