<ion-content>

    <br>
    <h1 class="ion-text-center ion-no-margin">ControlMoney</h1>
    <h2 class="ion-text-center ion-no-margin">Login</h2>
    <div class="content">
  
      <div class="d-flex-center">
        <form class="ion-text-center" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label>Awesome Label</ion-label>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-input autocomplete="email" type="email" label="Correo" icon="mail-outline"
              formControlName="email"></ion-input>
          </ion-item>
  
          <div class="validators">
            <div *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched">
              El email es obligatorio.</div>
            <div *ngIf="formLogin.get('email')?.hasError('email') && formLogin.get('email')?.touched">
              Por favor, introduce un email válido.</div>
          </div>
  
          <ion-item>
            <ion-label>Awesome Label</ion-label>
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-input type="password" label="Contraseña" icon="lock-closed-outline"
              formControlName="password"></ion-input>
  
          </ion-item>
  
          <div class="validators">
            <div *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
              La contraseña es obligatoria.</div>
            <div *ngIf="formLogin.get('password')?.hasError('minlength') && formLogin.get('password')?.touched">
              La contraseña debe tener al menos 6 caracteres.</div>
            <div *ngIf="formLogin.get('password')?.hasError('pattern') && formLogin.get('password')?.touched">
              La contraseña debe contener al menos un número.</div>
          </div>
  
  
          <div>
            <div>
              <ion-button class="ion-margin-vertical" [disabled]="formLogin.invalid" type="submit" shape="round">
                Acceder
                <ion-icon slot="end" name="log-in-outline"></ion-icon>
              </ion-button>
            </div>
            <div>
              <ion-button (click)="onClick()" class="ion-margin-vertical" type="submit" shape="round">
                Login With Google
                <ion-icon slot="end" name="logo-google"></ion-icon>
              </ion-button>
            </div>
            <div class="sign-up">
              <div>No tienees cuenta?</div>
              <ion-button routerLink="/register" class="ion-margin-vertical" shape="round">
                Registrate
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
              </ion-button>
  
              <div class="avatar-container">
                <img src="assets/imgs/logo.png" alt="Avatar" class="avatar-image">
              </div>
            </div>
          </div>
  
        </form>
      </div>
  
  
    </div>
  
  </ion-content>