<ion-content>
  <div class="content">
    
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <h1 class="ion-text-center ion-no-margin">Total de Ingresos por Categoría</h1>
   
  </ion-toolbar>
</ion-header>

  <ion-list>
    <ion-item *ngFor="let item of totalIngresosCategoria">
      <ion-label>
        
        <h2><ion-icon name="pricetag-outline"></ion-icon>{{ item.categoria }}</h2>
        <p>Total: {{ item.total | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>