

<ion-content>
  <div class="content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title>Clientes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <h1 class="ion-text-center ion-no-margin">Home</h1>
    <ion-button class="ion-margin" mode="ios">
      Nueva tarea
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>