<ion-content>
  <div class="content">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="ion-text-center ion-no-margin">Acerca de</h1>

    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>ControlMoney</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="ion-margin" style="text-align: justify;">
          ControlMoney es una aplicación de gestión financiera diseñada para ayudarte a administrar tus finanzas de manera efectiva.
          Realiza un seguimiento detallado de tus ingresos y gastos, establece presupuestos personalizados y accede a informes visuales
          para mantener un control financiero sólido.
        </p>
        <p class="ion-text-center ion-margin-top">Autor: Pastor Moreno Maicol</p>

        <div class="social-icons ion-text-center ion-margin-top">
          <a href="https://www.twitter.com/" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <span class="social-icon-separator"></span>
          <a href="https://www.instagram.com/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <span class="social-icon-separator"></span>
          <a href="https://www.facebook.com/" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <span class="social-icon-separator"></span>
          <a href="https://www.youtube.com/" target="_blank">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
