<ion-content>
  <div class="content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
          Lista de Ingresos
        </ion-title>
      </ion-toolbar>
    </ion-header>

      <ion-list>
        <ion-item-sliding *ngFor="let ingreso of ingresos" (click)="editarIngreso(ingreso)">
          <ion-item>

            <ion-label>
              <h2>
                <ion-icon name="cash-outline"></ion-icon>
                Monto: S/.{{ ingreso.monto }}
              </h2>
              <p>
                <ion-icon name="list-outline"></ion-icon>
                Categoría: {{ ingreso.categoria }}
              </p>
              <p>
                <ion-icon name="document-text-outline"></ion-icon>
                Detalles: {{ ingreso.detalles }}
              </p>
              <p>
                <ion-icon name="calendar-outline"></ion-icon>
                Fecha: {{ ingreso.fecha | date }}
              </p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="eliminarIngreso(ingreso)">
              <ion-icon name="trash-outline"></ion-icon>
              Eliminar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>


  </div>

</ion-content>