<ion-content>
  <div class="content">
    <ion-header>
      <ion-toolbar>

        <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <h1 class="ion-text-center ion-no-margin">Registrar de Ingreso</h1>

      </ion-toolbar>
    </ion-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="cash-outline"></ion-icon> Monto
          </ion-label>
          <ion-input type="number" [(ngModel)]="monto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="pricetag-outline"></ion-icon> Categoría
          </ion-label>
          <ion-input type="text" [(ngModel)]="categoria"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="document-text-outline"></ion-icon> Detalles
          </ion-label>
          <ion-textarea rows="3" [(ngModel)]="detalles"></ion-textarea>
        </ion-item>
      </ion-list>


      <div class="ion-padding">
        <ion-button (click)="guardarIngreso()" class="ion-margin" mode="ios">
          Guardar
          <ion-icon slot="end" name="send-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-card-content>
   
  </div>

</ion-content>